{
  "extends": ['plugin:react/recommended', 'xo'],
  "env": {
    "node": true,
    "browser": true,
  },
  "parserOptions": {
      "ecmaVersion": 8,
      "ecmaFeatures": {
          "jsx": true,
      },
      "sourceType": "module"
  },
  "rules": {
    "semi": 1,
    "indent": ["error", 2],
    "capitalized-comments": "off",
    "no-console": 0
  }
}